# (Pre-)Compiled stuff
*.pyc
*.o
*.so
*.x
*.exe
*.a
*.mod
*.pickle
.precc
# Python packaging and building
build
dist
MANIFEST
# Local tests
study
# Swap, temp and backup files
*.swp
*.swo
*~
*.old
*.orig
.DS_Store
.ipynb_checkpoints
# Results (pictures, numpy, matlab, etc.)
*.png
*.npy
*.npz
*.mat
*.nc
# Spherepack lib folder
ext/spherepack3.2/lib
