# (Pre-)Compiled stuff
*.pyc
*.o
*.so
*.x
*.mod
*.pickle
.precc
# Python packaging and building
build
dist
MANIFEST
# Local tests
study
# Swap, temp and backup files
*.swp
*.swo
*~
*.old
*.orig
.DS_Store
# Results (pictures, numpy, matlab, etc.)
*.png
*.npy
*.npz
*.mat
