# Bedymo log files
*.log
# Bedymo output
*.nc
# (Pre-)Compiled stuff
*.pyc
*.o
*.so
*.x
*.mod
precc
# Python packaging and building
build
dist
MANIFEST
# Swap, temp and backup files
*.swp
*.swo
*~
*.old
*.orig
# Results (pictures, numpy, matlab, etc.)
*.png
*.npy
*.npz
*.mat
